{% extends "blood/base.html" %}
{% block content %}
<div class="container">
<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2>BLOOD BANK SOCIETY RESOURCE CENTRE</h2>
<p>Processing Charges Of Blood and Blood Components are as per NACO guidelines circular number S12016/01/2012. NACO (NBTC) Dated Feb-12-2014</p>
<p>OPEN 24 HRS</p>
<p>0172-2696057, 09872006337</p>
<h3>FOR PATIENTS ADMITTED IN</h3>
<h4>PRIVATE HOSPITALS</h4>
<table class="table table-striped">
<tbody>
<tr>
<td>S.NO.</td>
<td>BLOOD PRODUCT</td>
<td>PROCESSING CHARGES FOR PATIENTS</td>
<td>PROCESSING CHARGES FOR DONOR CARD HOLDERS</td>
</tr>
<tr>
<td>1.</td>
<td>WHOLE BLOOD</td>
<td>1450/-</td>
<td>600/-</td>
</tr>
<tr>
<td>2.</td>
<td>PACKED RED BLOODCELLS (PRBC)</td>
<td>1450/-</td>
<td>600/-</td>
</tr>
<tr>
<td>3.</td>
<td>FRESH FROZEN PLASMA (FFP)</td>
<td>400/-</td>
<td>400/-</td>
</tr>
<tr>
<td>4.</td>
<td>PLATELETS (PC/PRP)</td>
<td>400/-</td>
<td>400/-</td>
</tr>
<tr>
<td>5.</td>
<td>CRYOPRECIPITATE</td>
<td>250/-</td>
<td>250/-</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h3></h3>
</div>
</div>
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey"><span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2>FOR PATIENTS ADMITTED IN</h2>
<h4>GOVERNMENT HOSPITALS/DISPENSARIES</h4>
<table class="table table-striped">
<tbody>
<tr>
<td>S.NO.</td>
<td>BLOOD PRODUCT</td>
<td>PROCESSINGCHARGES</td>
<td>PROCESSING CHARGES FOR DONOR CARD HOLDERS</td>
</tr>
<tr>
<td>1.</td>
<td>WHOLE BLOOD</td>
<td>1050/-</td>
<td>400/-</td>
</tr>
<tr>
<td>2.</td>
<td>PACKED RED BLOODCELLS (PRBC)</td>
<td>1050/-</td>
<td>400/-</td>
</tr>
<tr>
<td>3.</td>
<td>FRESH FROZEN PLASMA (FFP)</td>
<td>300/-</td>
<td>300/-</td>
</tr>
<tr>
<td>4.</td>
<td>PLATELETS (PC/PRP)</td>
<td>300/-</td>
<td>300/-</td>
</tr>
<tr>
<td>5.</td>
<td>CRYOPRECIPITATE</td>
<td>200/-</td>
<td>200/-</td>
</tr>
</tbody>
</table>
<p>NOTE: Blood/Components FREE as a life saving measure for Thalassemia/Haemophilia/Sickle cell Anaemia patients/Any other blood dyscrasia requiring repeated blood transfusions</p>
		</div>
	</div>
</div></div></div></div></div>

{% endblock content %}